<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <!--Rest服务发布地址-->
    <add key="PaintServiceAddress" value="http://192.168.10.30:6500/"/>

    <!--O3源文件地址-->
    <add key="O3_uri" value="F:\o3test\o3_uri"/>
    <add key="O3_db_uri" value="http://192.168.10.139:4700/"/>


    <!--O3伪彩图保存地址-->
    <add key="O3_wct_uri" value="F:\fsWeb\public\images\o3_wct_uri"/>

    <!--O3实时伪彩图保存地址-->
    <add key="O3_wct_monitor" value="F:\fsWeb\public\images\o3_wct_uri\monitor"/>

    <!--O3玫瑰伪彩图保存地址-->
    <add key="O3_wct_mgt" value="F:\fsWeb\public\images\o3_wct_uri\mgt"/>

    <!--O3椎体伪彩图保存地址-->
    <add key="O3_wct_zxt" value="F:\fsWeb\public\images\o3_wct_uri\zxt\"/>

    <!--监测点测试编号-->
    <add key="test_site" value="bjjcz"/>

    <!--测试时间推移-->
    <add key="test_time_span" value="0"/>


    <!--实时绘制时间间隔-->
    <add key="interval" value="5"/>
    
    <!--日志记录路径-->
    <add key="LogPath" value="F:\PppppLogs" />
    <!--每天的最大日志文件数, 值大于等于1-->
    <add key="LogFilesCount" value="3"/>
    <!--单个日志文件最大值  单位:MB-->
    <add key="LogFileMaxSize" value="512"/>
    <!--日志文件保存天数   单位：天-->
    <add key="LogRecentDays" value="30"/>
    <!--日志级别-->
    <add key="LogLevel" value="INFO"/>


    <!--是否支持生成实时监测伪彩图-->
    <add key="isMonitor" value="1"/>
    <!--是否支持查询伪彩图-->
    <add key="isWct" value="0"/>
    <!--是否支持查询玫瑰图-->
    <add key="isMgt" value="0"/>
    <!--是否支持生成锥形图-->
    <add key="isZxt" value="1"/>
    
  </appSettings>

  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint  name="RESTEndpoint"   crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding 	receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="104857600" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="PaintServiceAccess.Rest">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding"  bindingConfiguration=""
                  contract="PaintServiceAccess.IRest"
                   />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>